@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
